In [2]:
#%pip install sodapy
#%pip install nbformat

In [1]:
import requests
import pandas as pd
from datetime import datetime, date

# Sodapy is library for dataset used. Works similiarly to requests.
from sodapy import Socrata

In [18]:
### Works, but crashes Jupyter

# url = "https://data.cityofnewyork.us/resource/h9gi-nx95.json?$where=crash_date%3E%272017-01-01T00:00:00.000%27"
# response = requests.get(url)
# response.head()

# app_token = "r53Q18d3cdnZT0S4PG71WjhJE"
### Only use API to build .csv file - commenting out for future use

# client = Socrata("data.cityofnewyork.us", app_token)
# results = client.get("h9gi-nx95", limit=1000000) #where="crash_date=2017-01-01T00:00:00.000")

In [19]:
### Use only when pulling from API above

results_df = pd.DataFrame.from_records(results)
results_df.head()

,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,...,latitude,longitude,location,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
0,2021-09-11T00:00:00.000,2:39,WHITESTONE EXPRESSWAY,20 AVENUE,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-26T00:00:00.000,11:45,QUEENSBORO BRIDGE UPPER,NaN,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-29T00:00:00.000,6:55,THROGS NECK BRIDGE,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-09-11T00:00:00.000,9:35,NaN,NaN,0,0,0,0,0,0,...,40.667202,-73.8665,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-12-14T00:00:00.000,8:13,SARATOGA AVENUE,DECATUR STREET,0,0,0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Use this to pull data in future, not API.

filepath = ("nyc-mva-data.csv")
# results_df.to_csv(filepath)

In [23]:
### Recreate CSV file

results_df = pd.read_csv(filepath, index_col = False)
results_df

,Unnamed: 0,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,...,latitude,longitude,location,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
0,0,2021-09-11T00:00:00.000,2:39,WHITESTONE EXPRESSWAY,20 AVENUE,2.0,0.0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2022-03-26T00:00:00.000,11:45,QUEENSBORO BRIDGE UPPER,NaN,1.0,0.0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2022-06-29T00:00:00.000,6:55,THROGS NECK BRIDGE,NaN,0.0,0.0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2021-09-11T00:00:00.000,9:35,NaN,NaN,0.0,0.0,0,0,0,...,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-12-14T00:00:00.000,8:13,SARATOGA AVENUE,DECATUR STREET,0.0,0.0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,2016-11-27T00:00:00.000,3:45,9 AVENUE,WEST 17 STREET,0.0,0.0,0,0,0,...,40.742863,-74.003975,"{'latitude': '40.742863', 'longitude': '-74.00...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
999996,999996,2016-11-23T00:00:00.000,21:00,PAULDING AVENUE,ALLERTON AVENUE,0.0,0.0,0,0,0,...,40.865494,-73.858680,"{'latitude': '40.865494', 'longitude': '-73.85...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
999997,999997,2016-11-27T00:00:00.000,19:10,STATEN ISLAND EXPRESSWAY,NaN,0.0,0.0,0,0,0,...,40.605950,-74.076010,"{'latitude': '40.60595', 'longitude': '-74.076...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
999998,999998,2016-11-24T00:00:00.000,19:50,GRAND CONCOURSE,ROCKWOOD STREET,0.0,0.0,0,0,0,...,40.841614,-73.912480,"{'latitude': '40.841614', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
999999,999999,2016-11-13T00:00:00.000,14:40,194 STREET,HOLLIS COURT BOULEVARD,0.0,0.0,0,0,0,...,40.749958,-73.785960,"{'latitude': '40.749958', 'longitude': '-73.78...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#location_df = results_df[results_df["location"].dropna()]
location_df = results_df[results_df.location.notnull()]

location_df

,Unnamed: 0,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,...,latitude,longitude,location,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
3,3,2021-09-11T00:00:00.000,9:35,NaN,NaN,0,0,0,0,0,...,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-12-14T00:00:00.000,8:13,SARATOGA AVENUE,DECATUR STREET,0,0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,2021-12-14T00:00:00.000,17:05,BROOKLYN QUEENS EXPRESSWAY,NaN,0,0,0,0,0,...,40.709183,-73.956825,"{'latitude': '40.709183', 'longitude': '-73.95...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,2021-12-14T00:00:00.000,8:17,NaN,NaN,2,0,0,0,0,...,40.868160,-73.831480,"{'latitude': '40.86816', 'longitude': '-73.831...",344 BAYCHESTER AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
8,8,2021-12-14T00:00:00.000,21:10,NaN,NaN,0,0,0,0,0,...,40.671720,-73.897100,"{'latitude': '40.67172', 'longitude': '-73.897...",2047 PITKIN AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,2022-06-29T00:00:00.000,0:00,37 STREET,NaN,0,0,0,0,0,...,40.776356,-73.904450,"{'latitude': '40.776356', 'longitude': '-73.90...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19996,19996,2022-06-29T00:00:00.000,22:00,80 STREET,ASTORIA BOULEVARD,1,0,0,0,0,...,40.765377,-73.889060,"{'latitude': '40.765377', 'longitude': '-73.88...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19997,19997,2022-07-01T00:00:00.000,15:35,75 AVENUE,KISSENA BOULEVARD,1,0,0,0,0,...,40.726658,-73.811520,"{'latitude': '40.726658', 'longitude': '-73.81...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19998,19998,2022-06-24T00:00:00.000,13:00,KINGS HIGHWAY,AVENUE K,1,0,0,0,0,...,40.625683,-73.933440,"{'latitude': '40.625683', 'longitude': '-73.93...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,19999,2022-06-21T00:00:00.000,17:01,EAST 61 STREET,YORK AVENUE,0,0,0,0,0,...,40.759910,-73.958820,"{'latitude': '40.75991', 'longitude': '-73.958...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# This was to determine whether or not there are Unspecified vehicle 1 contributing factors with specific vehicle 2 factors. 
# There are none, so we can drop any vehicle 1 contributing factor NaN values.

pd.options.display.max_columns = None

results_df[(results_df['contributing_factor_vehicle_1'].str.contains('Unspecified')) & (results_df['contributing_factor_vehicle_2'].str.contains('Unspecified') == False)]

Empty DataFrame
Columns: [Unnamed: 0, crash_date, crash_time, on_street_name, off_street_name, number_of_persons_injured, number_of_persons_killed, number_of_pedestrians_injured, number_of_pedestrians_killed, number_of_cyclist_injured, number_of_cyclist_killed, number_of_motorist_injured, number_of_motorist_killed, contributing_factor_vehicle_1, contributing_factor_vehicle_2, collision_id, vehicle_type_code1, vehicle_type_code2, borough, zip_code, latitude, longitude, location, cross_street_name, contributing_factor_vehicle_3, vehicle_type_code_3, contributing_factor_vehicle_4, vehicle_type_code_4, contributing_factor_vehicle_5, vehicle_type_code_5]
Index: []

In [10]:
# drop rows with null contributing factor values

contributing_factor_df = location_df[location_df.contributing_factor_vehicle_1.notnull()]

contributing_factor_df

,Unnamed: 0,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2,borough,zip_code,latitude,longitude,location,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
3,3,2021-09-11T00:00:00.000,9:35,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,4456314,Sedan,NaN,BROOKLYN,11208.0,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
6,6,2021-12-14T00:00:00.000,17:05,BROOKLYN QUEENS EXPRESSWAY,NaN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,40.709183,-73.956825,"{'latitude': '40.709183', 'longitude': '-73.95...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,2021-12-14T00:00:00.000,8:17,NaN,NaN,2,0,0,0,0,0,2,0,Unspecified,Unspecified,4486660,Sedan,Sedan,BRONX,10475.0,40.868160,-73.831480,"{'latitude': '40.86816', 'longitude': '-73.831...",344 BAYCHESTER AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
8,8,2021-12-14T00:00:00.000,21:10,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inexperience,Unspecified,4487074,Sedan,NaN,BROOKLYN,11207.0,40.671720,-73.897100,"{'latitude': '40.67172', 'longitude': '-73.897...",2047 PITKIN AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
9,9,2021-12-14T00:00:00.000,14:58,3 AVENUE,EAST 43 STREET,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4486519,Sedan,Station Wagon/Sport Utility Vehicle,MANHATTAN,10017.0,40.751440,-73.973970,"{'latitude': '40.75144', 'longitude': '-73.973...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,2022-06-29T00:00:00.000,0:00,37 STREET,NaN,0,0,0,0,0,0,0,0,Unsafe Speed,Unspecified,4542390,Sedan,Pick-up Truck,NaN,NaN,40.776356,-73.904450,"{'latitude': '40.776356', 'longitude': '-73.90...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19996,19996,2022-06-29T00:00:00.000,22:00,80 STREET,ASTORIA BOULEVARD,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,NaN,4542295,Station Wagon/Sport Utility Vehicle,NaN,QUEENS,11370.0,40.765377,-73.889060,"{'latitude': '40.765377', 'longitude': '-73.88...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19997,19997,2022-07-01T00:00:00.000,15:35,75 AVENUE,KISSENA BOULEVARD,1,0,0,0,0,0,1,0,Aggressive Driving/Road Rage,NaN,4542768,Motorcycle,NaN,NaN,NaN,40.726658,-73.811520,"{'latitude': '40.726658', 'longitude': '-73.81...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19998,19998,2022-06-24T00:00:00.000,13:00,KINGS HIGHWAY,AVENUE K,1,0,0,0,0,0,1,0,Unsafe Lane Changing,Unspecified,4542596,Sedan,NaN,NaN,NaN,40.625683,-73.933440,"{'latitude': '40.625683', 'longitude': '-73.93...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,19999,2022-06-21T00:00:00.000,17:01,EAST 61 STREET,YORK AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4543095,Sedan,Sedan,MANHATTAN,10065.0,40.759910,-73.958820,"{'latitude': '40.75991', 'longitude': '-73.958...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# drop rows with null on street name values

on_street_df = contributing_factor_df[contributing_factor_df.on_street_name.notnull()]

on_street_df

,Unnamed: 0,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2,borough,zip_code,latitude,longitude,location,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
6,6,2021-12-14T00:00:00.000,17:05,BROOKLYN QUEENS EXPRESSWAY,NaN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,40.709183,-73.956825,"{'latitude': '40.709183', 'longitude': '-73.95...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,2021-12-14T00:00:00.000,14:58,3 AVENUE,EAST 43 STREET,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4486519,Sedan,Station Wagon/Sport Utility Vehicle,MANHATTAN,10017.0,40.751440,-73.973970,"{'latitude': '40.75144', 'longitude': '-73.973...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,2021-12-13T00:00:00.000,0:34,MYRTLE AVENUE,NaN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4486934,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,40.701275,-73.888870,"{'latitude': '40.701275', 'longitude': '-73.88...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,2021-12-14T00:00:00.000,16:50,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,4487127,Sedan,Station Wagon/Sport Utility Vehicle,QUEENS,11413.0,40.675884,-73.755770,"{'latitude': '40.675884', 'longitude': '-73.75...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,2021-12-14T00:00:00.000,0:59,BELT PARKWAY,NaN,0,0,0,0,0,0,0,0,Unsafe Speed,NaN,4486564,Sedan,NaN,NaN,NaN,40.596620,-74.002310,"{'latitude': '40.59662', 'longitude': '-74.002...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,2022-06-29T00:00:00.000,0:00,37 STREET,NaN,0,0,0,0,0,0,0,0,Unsafe Speed,Unspecified,4542390,Sedan,Pick-up Truck,NaN,NaN,40.776356,-73.904450,"{'latitude': '40.776356', 'longitude': '-73.90...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19996,19996,2022-06-29T00:00:00.000,22:00,80 STREET,ASTORIA BOULEVARD,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,NaN,4542295,Station Wagon/Sport Utility Vehicle,NaN,QUEENS,11370.0,40.765377,-73.889060,"{'latitude': '40.765377', 'longitude': '-73.88...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19997,19997,2022-07-01T00:00:00.000,15:35,75 AVENUE,KISSENA BOULEVARD,1,0,0,0,0,0,1,0,Aggressive Driving/Road Rage,NaN,4542768,Motorcycle,NaN,NaN,NaN,40.726658,-73.811520,"{'latitude': '40.726658', 'longitude': '-73.81...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19998,19998,2022-06-24T00:00:00.000,13:00,KINGS HIGHWAY,AVENUE K,1,0,0,0,0,0,1,0,Unsafe Lane Changing,Unspecified,4542596,Sedan,NaN,NaN,NaN,40.625683,-73.933440,"{'latitude': '40.625683', 'longitude': '-73.93...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,19999,2022-06-21T00:00:00.000,17:01,EAST 61 STREET,YORK AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4543095,Sedan,Sedan,MANHATTAN,10065.0,40.759910,-73.958820,"{'latitude': '40.75991', 'longitude': '-73.958...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# drop rows with null off street name values

off_street_df = on_street_df[on_street_df.off_street_name.notnull()]

off_street_df

,Unnamed: 0,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2,borough,zip_code,latitude,longitude,location,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
9,9,2021-12-14T00:00:00.000,14:58,3 AVENUE,EAST 43 STREET,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4486519,Sedan,Station Wagon/Sport Utility Vehicle,MANHATTAN,10017.0,40.751440,-73.973970,"{'latitude': '40.75144', 'longitude': '-73.973...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,2021-12-14T00:00:00.000,16:50,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,4487127,Sedan,Station Wagon/Sport Utility Vehicle,QUEENS,11413.0,40.675884,-73.755770,"{'latitude': '40.675884', 'longitude': '-73.75...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,2021-12-14T00:00:00.000,23:10,NORTH CONDUIT AVENUE,150 STREET,2,0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,Unspecified,4486635,Sedan,Sedan,QUEENS,11434.0,40.666840,-73.789410,"{'latitude': '40.66684', 'longitude': '-73.789...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,2021-12-11T00:00:00.000,19:43,WEST KINGSBRIDGE ROAD,HEATH AVENUE,1,0,0,0,0,0,1,0,Unspecified,Unspecified,4487040,Station Wagon/Sport Utility Vehicle,Sedan,BRONX,10463.0,40.872620,-73.904686,"{'latitude': '40.87262', 'longitude': '-73.904...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,2021-12-13T00:00:00.000,6:30,82 STREET,34 AVENUE,0,0,0,0,0,0,0,0,Unspecified,NaN,4486967,Sedan,NaN,QUEENS,11372.0,40.753730,-73.885050,"{'latitude': '40.75373', 'longitude': '-73.885...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19993,19993,2022-06-20T00:00:00.000,13:40,EASTERN PARKWAY,HOWARD AVENUE,1,0,0,0,0,0,0,0,View Obstructed/Limited,View Obstructed/Limited,4542792,Station Wagon/Sport Utility Vehicle,E-Scooter,BROOKLYN,11233.0,40.669476,-73.919975,"{'latitude': '40.669476', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19996,19996,2022-06-29T00:00:00.000,22:00,80 STREET,ASTORIA BOULEVARD,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,NaN,4542295,Station Wagon/Sport Utility Vehicle,NaN,QUEENS,11370.0,40.765377,-73.889060,"{'latitude': '40.765377', 'longitude': '-73.88...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19997,19997,2022-07-01T00:00:00.000,15:35,75 AVENUE,KISSENA BOULEVARD,1,0,0,0,0,0,1,0,Aggressive Driving/Road Rage,NaN,4542768,Motorcycle,NaN,NaN,NaN,40.726658,-73.811520,"{'latitude': '40.726658', 'longitude': '-73.81...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19998,19998,2022-06-24T00:00:00.000,13:00,KINGS HIGHWAY,AVENUE K,1,0,0,0,0,0,1,0,Unsafe Lane Changing,Unspecified,4542596,Sedan,NaN,NaN,NaN,40.625683,-73.933440,"{'latitude': '40.625683', 'longitude': '-73.93...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,19999,2022-06-21T00:00:00.000,17:01,EAST 61 STREET,YORK AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4543095,Sedan,Sedan,MANHATTAN,10065.0,40.759910,-73.958820,"{'latitude': '40.75991', 'longitude': '-73.958...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
test_df = off_street_df.drop(off_street_df[(off_street_df['contributing_factor_vehicle_1'] == 'Unspecified')].index)
test_df

,Unnamed: 0,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2,borough,zip_code,latitude,longitude,location,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
9,9,2021-12-14T00:00:00.000,14:58,3 AVENUE,EAST 43 STREET,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4486519,Sedan,Station Wagon/Sport Utility Vehicle,MANHATTAN,10017.0,40.751440,-73.973970,"{'latitude': '40.75144', 'longitude': '-73.973...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,2021-12-14T00:00:00.000,16:50,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,4487127,Sedan,Station Wagon/Sport Utility Vehicle,QUEENS,11413.0,40.675884,-73.755770,"{'latitude': '40.675884', 'longitude': '-73.75...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,2021-12-14T00:00:00.000,23:10,NORTH CONDUIT AVENUE,150 STREET,2,0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,Unspecified,4486635,Sedan,Sedan,QUEENS,11434.0,40.666840,-73.789410,"{'latitude': '40.66684', 'longitude': '-73.789...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,2021-12-14T00:00:00.000,17:15,GRAND STREET,UNION AVENUE,1,0,0,0,0,0,1,0,Passing or Lane Usage Improper,Unspecified,4486556,Bus,Station Wagon/Sport Utility Vehicle,BROOKLYN,11211.0,40.710957,-73.951126,"{'latitude': '40.710957', 'longitude': '-73.95...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,45,2022-04-24T00:00:00.000,21:40,BOSCOBEL PLACE,UNIVERSITY AVENUE,0,0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,4522156,Taxi,Station Wagon/Sport Utility Vehicle,BRONX,10452.0,40.843906,-73.924130,"{'latitude': '40.843906', 'longitude': '-73.92...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19993,19993,2022-06-20T00:00:00.000,13:40,EASTERN PARKWAY,HOWARD AVENUE,1,0,0,0,0,0,0,0,View Obstructed/Limited,View Obstructed/Limited,4542792,Station Wagon/Sport Utility Vehicle,E-Scooter,BROOKLYN,11233.0,40.669476,-73.919975,"{'latitude': '40.669476', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19996,19996,2022-06-29T00:00:00.000,22:00,80 STREET,ASTORIA BOULEVARD,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,NaN,4542295,Station Wagon/Sport Utility Vehicle,NaN,QUEENS,11370.0,40.765377,-73.889060,"{'latitude': '40.765377', 'longitude': '-73.88...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19997,19997,2022-07-01T00:00:00.000,15:35,75 AVENUE,KISSENA BOULEVARD,1,0,0,0,0,0,1,0,Aggressive Driving/Road Rage,NaN,4542768,Motorcycle,NaN,NaN,NaN,40.726658,-73.811520,"{'latitude': '40.726658', 'longitude': '-73.81...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19998,19998,2022-06-24T00:00:00.000,13:00,KINGS HIGHWAY,AVENUE K,1,0,0,0,0,0,1,0,Unsafe Lane Changing,Unspecified,4542596,Sedan,NaN,NaN,NaN,40.625683,-73.933440,"{'latitude': '40.625683', 'longitude': '-73.93...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,19999,2022-06-21T00:00:00.000,17:01,EAST 61 STREET,YORK AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4543095,Sedan,Sedan,MANHATTAN,10065.0,40.759910,-73.958820,"{'latitude': '40.75991', 'longitude': '-73.958...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Format data to remove timestamp

df2 = off_street_df.copy()

df2['crash_date'] = pd.to_datetime(df2['crash_date']).dt.normalize()
df2

,Unnamed: 0,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2,borough,zip_code,latitude,longitude,location,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
9,9,2021-12-14,14:58,3 AVENUE,EAST 43 STREET,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4486519,Sedan,Station Wagon/Sport Utility Vehicle,MANHATTAN,10017.0,40.751440,-73.973970,"{'latitude': '40.75144', 'longitude': '-73.973...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,2021-12-14,16:50,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,4487127,Sedan,Station Wagon/Sport Utility Vehicle,QUEENS,11413.0,40.675884,-73.755770,"{'latitude': '40.675884', 'longitude': '-73.75...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,2021-12-14,23:10,NORTH CONDUIT AVENUE,150 STREET,2,0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,Unspecified,4486635,Sedan,Sedan,QUEENS,11434.0,40.666840,-73.789410,"{'latitude': '40.66684', 'longitude': '-73.789...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,2021-12-11,19:43,WEST KINGSBRIDGE ROAD,HEATH AVENUE,1,0,0,0,0,0,1,0,Unspecified,Unspecified,4487040,Station Wagon/Sport Utility Vehicle,Sedan,BRONX,10463.0,40.872620,-73.904686,"{'latitude': '40.87262', 'longitude': '-73.904...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,2021-12-13,6:30,82 STREET,34 AVENUE,0,0,0,0,0,0,0,0,Unspecified,NaN,4486967,Sedan,NaN,QUEENS,11372.0,40.753730,-73.885050,"{'latitude': '40.75373', 'longitude': '-73.885...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19993,19993,2022-06-20,13:40,EASTERN PARKWAY,HOWARD AVENUE,1,0,0,0,0,0,0,0,View Obstructed/Limited,View Obstructed/Limited,4542792,Station Wagon/Sport Utility Vehicle,E-Scooter,BROOKLYN,11233.0,40.669476,-73.919975,"{'latitude': '40.669476', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19996,19996,2022-06-29,22:00,80 STREET,ASTORIA BOULEVARD,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,NaN,4542295,Station Wagon/Sport Utility Vehicle,NaN,QUEENS,11370.0,40.765377,-73.889060,"{'latitude': '40.765377', 'longitude': '-73.88...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19997,19997,2022-07-01,15:35,75 AVENUE,KISSENA BOULEVARD,1,0,0,0,0,0,1,0,Aggressive Driving/Road Rage,NaN,4542768,Motorcycle,NaN,NaN,NaN,40.726658,-73.811520,"{'latitude': '40.726658', 'longitude': '-73.81...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19998,19998,2022-06-24,13:00,KINGS HIGHWAY,AVENUE K,1,0,0,0,0,0,1,0,Unsafe Lane Changing,Unspecified,4542596,Sedan,NaN,NaN,NaN,40.625683,-73.933440,"{'latitude': '40.625683', 'longitude': '-73.93...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,19999,2022-06-21,17:01,EAST 61 STREET,YORK AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4543095,Sedan,Sedan,MANHATTAN,10065.0,40.759910,-73.958820,"{'latitude': '40.75991', 'longitude': '-73.958...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Drop unnamed column and reset index

df2.drop(["Unnamed: 0"], axis=1, inplace=True)

df_reset = df2.reset_index(drop=True)
df_reset

,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2,borough,zip_code,latitude,longitude,location,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
0,2021-12-14,14:58,3 AVENUE,EAST 43 STREET,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4486519,Sedan,Station Wagon/Sport Utility Vehicle,MANHATTAN,10017.0,40.751440,-73.973970,"{'latitude': '40.75144', 'longitude': '-73.973...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-12-14,16:50,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,4487127,Sedan,Station Wagon/Sport Utility Vehicle,QUEENS,11413.0,40.675884,-73.755770,"{'latitude': '40.675884', 'longitude': '-73.75...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-12-14,23:10,NORTH CONDUIT AVENUE,150 STREET,2,0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,Unspecified,4486635,Sedan,Sedan,QUEENS,11434.0,40.666840,-73.789410,"{'latitude': '40.66684', 'longitude': '-73.789...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-12-11,19:43,WEST KINGSBRIDGE ROAD,HEATH AVENUE,1,0,0,0,0,0,1,0,Unspecified,Unspecified,4487040,Station Wagon/Sport Utility Vehicle,Sedan,BRONX,10463.0,40.872620,-73.904686,"{'latitude': '40.87262', 'longitude': '-73.904...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-12-13,6:30,82 STREET,34 AVENUE,0,0,0,0,0,0,0,0,Unspecified,NaN,4486967,Sedan,NaN,QUEENS,11372.0,40.753730,-73.885050,"{'latitude': '40.75373', 'longitude': '-73.885...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8473,2022-06-20,13:40,EASTERN PARKWAY,HOWARD AVENUE,1,0,0,0,0,0,0,0,View Obstructed/Limited,View Obstructed/Limited,4542792,Station Wagon/Sport Utility Vehicle,E-Scooter,BROOKLYN,11233.0,40.669476,-73.919975,"{'latitude': '40.669476', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8474,2022-06-29,22:00,80 STREET,ASTORIA BOULEVARD,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,NaN,4542295,Station Wagon/Sport Utility Vehicle,NaN,QUEENS,11370.0,40.765377,-73.889060,"{'latitude': '40.765377', 'longitude': '-73.88...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8475,2022-07-01,15:35,75 AVENUE,KISSENA BOULEVARD,1,0,0,0,0,0,1,0,Aggressive Driving/Road Rage,NaN,4542768,Motorcycle,NaN,NaN,NaN,40.726658,-73.811520,"{'latitude': '40.726658', 'longitude': '-73.81...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8476,2022-06-24,13:00,KINGS HIGHWAY,AVENUE K,1,0,0,0,0,0,1,0,Unsafe Lane Changing,Unspecified,4542596,Sedan,NaN,NaN,NaN,40.625683,-73.933440,"{'latitude': '40.625683', 'longitude': '-73.93...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8477,2022-06-21,17:01,EAST 61 STREET,YORK AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4543095,Sedan,Sedan,MANHATTAN,10065.0,40.759910,-73.958820,"{'latitude': '40.75991', 'longitude': '-73.958...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_reset["contributing_factor_vehicle_1"].value_counts()

contributing_factor_vehicle_1
Driver Inattention/Distraction                           2095
Unspecified                                              2043
Failure to Yield Right-of-Way                             880
Following Too Closely                                     434
Traffic Control Disregarded                               427
Passing or Lane Usage Improper                            403
Unsafe Speed                                              292
Passing Too Closely                                       259
Turning Improperly                                        255
Other Vehicular                                           214
Driver Inexperience                                       171
Backing Unsafely                                          168
Unsafe Lane Changing                                      119
Alcohol Involvement                                       117
View Obstructed/Limited                                    91
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      89
Reaction to Uninvolved Vehicle                             85
Aggressive Driving/Road Rage                               52
Brakes Defective                                           38
Fell Asleep                                                35
Oversized Vehicle                                          29
Pavement Slippery                                          19
Outside Car Distraction                                    18
Steering Failure                                           16
Passenger Distraction                                      15
Lost Consciousness                                         14
Illnes                                                     13
Drugs (illegal)                                            11
Glare                                                      11
Failure to Keep Right                                      10
Obstruction/Debris                                         10
Pavement Defective                                          9
Tire Failure/Inadequate                                     8
Animals Action                                              5
Fatigued/Drowsy                                             4
Accelerator Defective                                       4
Tinted Windows                                              2
Physical Disability                                         2
Cell Phone (hand-Held)                                      2
Headlights Defective                                        2
Cell Phone (hands-free)                                     1
Lane Marking Improper/Inadequate                            1
Other Electronic Device                                     1
Windshield Inadequate                                       1
Vehicle Vandalism                                           1
Driverless/Runaway Vehicle                                  1
Prescription Medication                                     1
Name: count, dtype: int64

In [24]:
df_reset["contributing_factor_vehicle_2"].value_counts()

contributing_factor_vehicle_2
Unspecified                                              5729
Driver Inattention/Distraction                            404
Failure to Yield Right-of-Way                              93
Other Vehicular                                            89
Traffic Control Disregarded                                78
Following Too Closely                                      59
Passing or Lane Usage Improper                             49
Unsafe Speed                                               46
View Obstructed/Limited                                    35
Passing Too Closely                                        33
Driver Inexperience                                        28
Turning Improperly                                         28
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      28
Reaction to Uninvolved Vehicle                             12
Unsafe Lane Changing                                       10
Oversized Vehicle                                           9
Backing Unsafely                                            8
Aggressive Driving/Road Rage                                5
Pavement Slippery                                           5
Alcohol Involvement                                         5
Outside Car Distraction                                     4
Obstruction/Debris                                          2
Failure to Keep Right                                       2
Vehicle Vandalism                                           1
Traffic Control Device Improper/Non-Working                 1
Tinted Windows                                              1
Passenger Distraction                                       1
Brakes Defective                                            1
Fell Asleep                                                 1
Driverless/Runaway Vehicle                                  1
Fatigued/Drowsy                                             1
Name: count, dtype: int64